<div
  class="nexora-shell"
  [class.nexora-shell--feed]="mode === 'feed'"
  [class.nexora-shell--profile]="mode === 'profile'"
  [class.nexora-shell--no-left]="!showLeft"
  [class.nexora-shell--no-right]="!showRight"
  [style.fontFamily]="fontFamily"
>
  <div class="nexora-shell-grid">
    @if (showLeft) {
      <div class="nexora-shell-side">
        <ng-content select="[shell-left]"></ng-content>
      </div>
    }

    <div class="nexora-shell-content nexora-scrollbar-hidden">
      <ng-content select="[shell-main]"></ng-content>
    </div>

    @if (showRight) {
      <div class="nexora-shell-side">
        <ng-content select="[shell-right]"></ng-content>
      </div>
    }
  </div>
</div>